<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuImóvel360º</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <a href="https://wa.me/5585988551990" id="whatsapp" title="Fale conosco pelo WhatsApp" rel="noindex"
       style="display: block; position: fixed; z-index: 99; user-select: none; width: 50px; aspect-ratio: 1;
       bottom: 20px; right: 20px; max-width: 20%; filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.7));">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgM
    CAyNDg5MCAyNTAwMCI+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMTI0NDUiIHgyPSIxMjQ0NSIgeTE9IjI0Mjg3LjYiIHkyP
    SI0MzAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiMyMGIwMzgiL
    z48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM2MGQ2NmEiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGZpbGw9InVybCgjY
    SkiIGQ9Im01NzAgMjQyODggMTY3OC02MTI2YTExODA3IDExODA3IDAgMCAxLTE1NzktNTkxMEM2NzEgNTczMyA1OTc2IDQzMCAxM
    jQ5NCA0MzBjMzE2NCAxIDYxMzMgMTIzMyA4MzY1IDM0NjdhMTE3NTAgMTE3NTAgMCAwIDEgMzQ2MSA4MzYzYy0zIDY1MTgtNTMwO
    CAxMTgyMi0xMTgyNSAxMTgyMmgtNWMtMTk3OS0xLTM5MjQtNDk3LTU2NTEtMTQzOUw1NzAgMjQyODgiLz48ZyBmaWxsPSIjZmZmI
    j48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik05NDM1IDcxMjhjLTIyOS01MTAtNDcxLTUyMC02ODktNTI5LTE3OC04LTM4M
    y03LTU4Ny03cy01MzYgNzctODE2IDM4M2MtMjgxIDMwNi0xMDcxIDEwNDctMTA3MSAyNTUzczEwOTcgMjk2MSAxMjUwIDMxNjZjM
    TUzIDIwNCAyMTE3IDMzOTMgNTIyOSA0NjIwIDI1ODYgMTAyMCAzMTEyIDgxNyAzNjczIDc2NnMxODExLTc0MCAyMDY2LTE0NTUgM
    jU1LTEzMjcgMTc5LTE0NTVjLTc3LTEyOC0yODEtMjA0LTU4Ny0zNTdzLTE4MTEtODk0LTIwOTEtOTk2Yy0yODEtMTAyLTQ4NS0xN
    TMtNjg5IDE1M3MtNzkwIDk5NS05NjkgMTE5OWMtMTc5IDIwNS0zNTcgMjMwLTY2MyA3Ny0zMDYtMTU0LTEyOTItNDc2LTI0NjEtM
    TUxOS05MTAtODExLTE1MjQtMTgxMy0xNzAzLTIxMjAtMTc5LTMwNi0xOS00NzIgMTM0LTYyNSAxMzctMTM3IDMwNi0zNTcgNDU5L
    TUzNnMyMDQtMzA2IDMwNi01MTAgNTEtMzgzLTI2LTUzNi02NzItMTY2Ni05NDQtMjI3MiIvPjxwYXRoIGQ9Ik0yMTE2MiAzNTk0Q
    TEyMTY5IDEyMTY5IDAgMCAwIDEyNDk3IDNDNTc0NCAyIDI0OSA1NDk2IDI0NiAxMjI0OGMwIDIxNTggNTY0IDQyNjUgMTYzNiA2M
    TIyTDE0NCAyNDcxNWw2NDk0LTE3MDNhMTIyNDIgMTIyNDIgMCAwIDAgNTg1NCAxNDkxaDVjNjc1MSAwIDEyMjQ3LTU0OTQgMTIyN
    TAtMTIyNDYgMC0zMjcyLTEyNzMtNjM0OS0zNTg1LTg2NjN6bS04NjY2IDE4ODQxaC00Yy0xODI3LTEtMzYxOS00OTItNTE4Mi0xN
    DE5bC0zNzItMjIxLTM4NTQgMTAxMCAxMDMwLTM3NTUtMjQyLTM4NWExMDE2MyAxMDE2MyAwIDAgMS0xNTU3LTU0MTdjMi01NjEyI
    DQ1NjktMTAxNzcgMTAxODUtMTAxNzcgMjcyMCAxIDUyNzYgMTA2MSA3MTk4IDI5ODVzMjk4MCA0NDgxIDI5NzkgNzIwMWMtMSA1N
    jEyLTQ1NjkgMTAxNzgtMTAxODEgMTAxNzgiLz48L2c+PC9zdmc+"></a>

    <aside id="menuOculto" class="menuOculto">
        <a href="javascript:void(0)" class="btnFechar" onclick="fecharNav()">&times;</a>
        <a href="sobre.html">Sobre</a>
        <a href="https://maps.app.goo.gl/MW6MsAUNKuWQH2WL9">Localização</a>
        <a href="https://wa.me/5585988551990">Contato: <br>85 9 8855-1990</a>
    </aside>

    <section id="principal">
        <span style="font-size:30px; cursor:pointer" onclick="abrirNav()">&#9776;</span>
        <p>Seu imóvel 360º</p>
    </section>

    <div class="main-container">
        <h1 id="bem-vindo">Olá, Bem Vindo<br><br>Seu Imóvel 360º</h1>
        <div class="image-container"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/panolens.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>